main {
  display: grid;
  grid-gap: 16px;

}

footer {
  display: grid;
  grid-gap: 16px;
}

[data-grid] {
  border-width: 1px;
  border-style: solid;
}
[data-grid]:hover {
  color: rgba(200, 200, 200, 0.5);
}